html {
    overflow: scroll;
}

body {
    background-color: #AFD3E2;
    font-family: 'Helvetica';
}

.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-container {
    width: 90%;
    height: 90%;
    border-radius: 70px;
    background-color: whitesmoke;
    overflow: hidden;
}

#leaderboard {
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    background-color: black;
    font-family: 'Helvetica';
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.header-img {
    margin: auto;
    width: calc(100% - 100px);
    height: 350px;
    display: block;
    object-fit: cover;
}

.nav-bar {
    list-style-type: none;
    margin: auto;
    padding: 20px;
    background-color: whitesmoke;
    width: calc(100% - 100px);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-item button {
    padding: 10px;
    color: black;
    text-align: center;
    border-radius: 25px;
    background-color: #A8A9AD;
    box-shadow: 3px 3px 10px rgb(79, 79, 79);
    margin: 10px;
    font-size: 14pt;
    text-decoration: none;
    height: 50px;
    cursor: pointer;
}

.main-container {
    margin: auto;
    margin-top: 0px;
    background-color: #F6F1F1;
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bullet-list {
    font-size: 14pt;
    text-align: left;
    margin: auto;
}

.bullet-item {
    margin-bottom: 10px;
}

.register-container {
    width: 100%;
    display: flex;
    background-size: cover;
    background-image: url(images/stream2.jpg);
    background-position: center;
    align-items: center;
    justify-content: center;
}

.input-box {
    text-align: center;
    padding: 60px 60px 70px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0, .2);
    border-radius: 25px;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 350px;
    margin: 20px;
}

.input-box h1 {
    margin-bottom: 50px;
    font-size: 30px;
    color: white;
    position: relative;
}

.input-line {
    margin: 30px;
    border-radius: 5px;
    align-items: center;
    background: white;
}

::placeholder {
    color: black;
}

input {
    width: 100%;
    outline: 0;
    border: 0;
    background: transparent;
    padding: 18px 15px;
}

.input-line i {
    margin-left: 13px;
    color: orangered;
}

form p {
    text-align: left;
    font-size: 14px;
}

form p a {
    color: orangered;
}

.button-user-input-layout {
    justify-content: center;
    text-align: center;
    width: 100%;
}

.button-user-input-layout button {
    border: 0;
    outline: 10px;
    cursor: pointer;
    background: white;
    color: black;
    height: 40px;
    border-radius: 20px;
    border-color: black;
    width: 200px;
    margin: 10px;
    margin-top: 0;
}

.button-user-input-layout button:hover {
    background-color: lightgray;
}

#buttonNavLogin2 {
    background-color: white;
}

#buttonNavLogin2:hover {
    background-color: lightgray;
    cursor: pointer;
}

.error-text {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 35;
    color: white
}

.point_bank {
    width: 100%;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images\pointbank.gif);
    background-position: center;
    align-items: center;
    justify-content: center;
}

.point_submit_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.wrapper-rec-info {
    justify-content: space-around;
    width: 70%;
    display: flex;
}

.card-rec-info {
    transition: 0.4s ease-in-out;
    box-shadow: 0px 6px 9px rgba(0,0,0,0.5);
    align-items: flex-end;
    display: flex;
    position: relative;
    background: #fff;
    padding: 32px 16px;
    height: 359px;
    width: 279px;
}

.card-rec-info:hover {
    transform: translateY(20px);
}

.card-rec-info:before {
    transition: 0.5s all;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1));
    height: 100%;
    width: 100%;
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    content: "";
    opacity: 0;
}

.card-rec-info:hover:before {
    opacity: 1;
}

.card-rec-info img {
    left: 0;
    top: 0;
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card-rec-info .info-rec-info {
    transition: 0.5s all;
    transform: translateY(30px);
    opacity: 0;
    color: #fff;
    z-index: 3;
    position: relative;
}


.card-rec-info:hover .info-rec-info {
    transform: translateY(0px);
    opacity: 1;
}

.card-rec-info .info-rec-info h1 {
    margin: 0;
}

.card-rec-info .info-rec-info p {
    margin-bottom: 19px;
    margin-top: 7px;
    font-size: 15px;
    letter-spacing: 1px;
}

.card-rec-info .info-rec-info .btn-rec-info {
    transition: 0.4s ease-in-out;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    color: #000;
    background: #fff;
    padding: 8px 16px;
    text-decoration: none;
}

.card-rec-info .info-rec-info .btn-rec-info:hover {
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}

.shop_frame {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 20px;
    background-image: url(images/coastal.jpg);
    background-size: cover;
    padding: 150px;
}

.shop_item {
    width: 100px;
    height: 150px;
    padding: 20px;
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    color: white;
}

.shop_item p {
    margin: 0;
}

.shop_item button {
    width: 70%;
    align-self: center;
    border-radius: 20px;
    border-width: 1px;
    cursor: pointer;
}

.shop_item button:hover {
    background-color: lightgray;
}
